.ball {
    background-color: red;
    border-radius: 100px;
    position: absolute;
    z-index: 10;
}

.ballText {
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    align-items: center;
    text-align: center;
    margin-top: 5px;
    font-size: 10px;
}